@media(max-width:1600px){
  font-size: 55px;
  line-height: 60px;
}
.bannerimg{
  max-width: 290px;
}
.herobanner .row{
  padding-top:80px ;
  padding-bottom:80px ;
}
@media(max-width: 1399px){/*xl*/

}
@media(max-width: 1199px){/*lg*/}
@media(max-width: 991px){ /*md*/
  

}
@media(max-width: 767px){
  /*sm*/
}
@media(max-width: 575px){

/*xs*/}
@media(max-width: 1399px){}